<html>
  <head>
      <title>
        <%= title%>
      </title>
      <link rel="stylesheet" href="/css/home.css">
      <meta charset="utf-8">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <meta name="viewport" content="width-device-width, initial scale =1">
  </head>
  <body>
    <div id="main">
      <div id="heading">
        <h1>Habit Tracker</h1>
      </div>
      <!-- page heading -->
      <div id="page-heading">
        <div>
          <h2>Daily Habit</h2>
        </div>
        <!-- button for new habit entry pop up form -->
        <div>
          <button class="open-button" onclick="openForm()">Add More Habits</button>
        </div>
      </div>    
        <!-- habit list entry  -->
      <div id="habit_list_container">
        <ul id="list">
             <% for(let i of habit_list) {%>
              
              <li class="habbit">
                <div class="detail">  
                  <p id="my_name"><%= i.name %></a> </p>
                  <p>Status: <%= i.status %> </p>
                  <p>Duration: <%= i.duration %> hr</p>
                  <p>Start Date: <%= i.date %></p>
                </div>
                <!-- <div id="seeResult">Hi</div> -->
                <div class="delete-button">
                    <a href="users/delete_habit/?id=<%= i._id %>">
                    <button type="submit" class="btn">Remove This Habit</button>
                  </a>
                </div>
                <div class="week-button">
                  <button type="button" class="btn "><a href="/users/week">Week Plan </a></button>
                </div>
              </li>
               
              <!-- // form on week page inside form select option nd submit <button>
              // form action update database
              // form hidden
              // form display on click week button on habbit
              </button>
              // button on week page
              // onclick="openForm()"
   -->
              <%}%>
        </ul>
  
      </div>

      <!-- pop up form -->
      <div class="form-popup" id="myForm">
        <form action="users/create_habit" class="form-container" method="POST">
          <h1>Include your new Habit</h1>
      
          <label for="name"><b>Habit</b></label>
          <input type="text" placeholder="Enter Habit" name="name" required>

          <!-- <label for="completed"><b>Completed Days</b></label>
          <input type="number" placeholder="Enter completed in day" name="completed" required> <br>
       -->
          <label for="duration"><b>Duration</b></label>
          <input type="number" placeholder="Enter Duration in hour" name="duration" required> <br>

          <label for="date"><b>Date of Creation</b></label><br>
          <input type="date" placeholder="Enter Date" name="date" required>
      
          <button type="submit" class="btn">Add Habits</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      <!-- pop up form end-->
    </div>
      <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>