<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/home.css" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width-device-width, initial scale =1" />
  </head>
  <body>
    <div id="main">
      <div id="heading">
        <h1>Habit Tracker</h1>
      </div>
      <div id="page-heading">
        <div class="button-container1">
          <!-- button for new habit entry pop up form -->
          <div class="open">
            <button class="open-button btn" onclick="openForm()">
              Add New Habit
            </button>
          </div>
          <div class="week-button">
            <button type="button" class="btn">
              <a href="/users/find">Week Plan </a>
            </button>
          </div>
        </div>
      </div>
      <!-- habit list entry  -->
      <div id="habit_list_container">
        <ul id="list">
          <% for(let i of habit_list) {%>

          <li class="habbit">
            <div class="detail">
              <div id="my_name">
                <p><%= i.habit %></p>
              </div>
              <div>
                <p
                  style="
                    font-weight: 700;
                    color: rgb(18, 4, 95);
                    text-align: right;
                  "
                >
                  Start Date: <%= i.date %>
                </p>
                <p style="font-weight: 700; color: crimson; text-align: right">
                  Duration: <%= i.duration %> hr
                </p>
              </div>
              <div class="delete-button">
                <a href="users/delete_habit/?id=<%= i._id %>">
                  <button type="submit" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
            </div>
          </li>
          <%}%>
        </ul>
      </div>

      <!-- pop up form -->
      <div class="form-popup" id="myForm">
        <form action="users/create_habit" class="form-container" method="POST">
          <h1>Include your new Habit</h1>
          <label for="name"><b>Habit</b></label> <br />
          <select id="options" name="name">
            <option value="Prayer">Prayer</option>
            <option value="Cardio">Cardio</option>
            <option value="Workout">Workout</option>
            <option value="Dancing">Dancing</option>
            <option value="Study">Study</option>
          </select>
          <br />

          <label for="duration"><b>Duration</b></label>
          <input
            type="number"
            placeholder="Enter Duration in hour"
            name="duration"
          />
          <br />

          <label for="date"><b>Date of Creation</b></label
          ><br />
          <input type="date" placeholder="Enter Date" name="date" />

          <button type="submit" class="btn">Add Habits</button>
          <button type="button" class="btn cancel" onclick="closeForm()">
            Close
          </button>
        </form>
      </div>
      <!-- pop up form end-->
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
